html { 
  background: url("../img/tainan_river.jpg") no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a{
	text-decoration:none;
}
img {
	border: 0px;
}
body{
 font-family: "微軟正黑體";
}
#bg_table{
	background: rgba(30%,0%,0%,0.6);
	border-radius: 10px;
	color: white;
	padding: 30px 50px;
}
#bg_table td{
	padding-bottom: 8px;
	padding-right: 10px;
}
#bg_table_overview{
	background: rgba(30%,0%,0%,0.6);
	border-radius: 10px;
	color: white;
	padding: 10px;
}