	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 微軟正黑體, 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	table
	{
		border: 0;
		margin:0 auto; /*表格居中*/
	}
	
	th, td
	{
		padding: 5pt;
	}
	
	.container
	{
		margin: 0px auto;
		/*width: 1200px;*/
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		background: #79C255;
		border-radius: 8px;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #79C255;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
		padding: 0.9em 2em;
		background: #79C255;
		border-radius: 5px;
		line-height: 1.8em;
		font-size: 1em;
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: rgba(255,255,255,0.9);
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		padding: 5em 0em;
	}
	#header-wrapper
	{
		/*overflow: hidden;
		padding: 0em 8em;*/
		background: #FFF;
	}


/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 2em;
		left: 8em;
	}
	
	#logo h1
	{
		color: #79C255;
	}
	
	#logo a
	{
		text-decoration: none;
		font-family: 'Segoe Print','Arial';
		/*text-transform: uppercase;*/
		color: #79C255;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 4em;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #2B3F48;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #2B3F48;
	}
	
	#menu .current_page_item a
	{
		border: 2px solid #79C255;
		background: #79C255;
		border-radius: 6px;
		color: #FFF;
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		padding: 10em 0em;
		background: url(../img/banner.jpg) no-repeat center;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
	}

	#banner .title
	{
		margin-bottom: 1em;
		text-transform: uppercase !important;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
	}
	
	#banner .button
	{
		margin-top: 3em;
		background: #589937 !important;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #8DCB89;/*#79C255,#8DCB89;*/
	}

	#wrapper2
	{
		background: #242424;
	}

	#wrapper3
	{
		background: #FFFF99;
	}
	
	#wrapper4
	{
		background: #DF4E59;/*#E74E59;*/
	}

/*********************************************************************************/
/* route map                                                                     */
/*********************************************************************************/

	#route
	{
		padding: 10em 0em;
		text-align: center;
	}

	#route .title
	{
	}

	#route .title h2
	{
		color: #FFF;
	}

	#route .title .byline
	{
		color: rgba(255,255,255,.6);
	}

/*********************************************************************************/
/* routeinfo                                                                     */
/*********************************************************************************/

	#routeinfo
	{
		/*overflow: hidden;*/
		padding: 8em 0em;
		text-align: center;
		color: rgba(255,255,255,0.3);
	}
	
	#routeinfo .content
	{
		padding: 0em 8em;
	}
	
	#routeinfo a,
	#routeinfo strong
	{
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* faretable                                                                     */
/*********************************************************************************/

	#faretable
	{
		padding: 8em 0em;
	}
	
	#faretable h3
	{
		display: block;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 16pt;
		color: rgba(0,0,0,0.6);
	}

	#faretable .title
	{
		text-align: center;
	}

	#faretable .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#faretable .content
	{
		text-align: center;
		color: #000066;
	}
	
	#faretable .content h1
	{
		color: blue;
	}


	#faretable .content tbody tr:hover td, #faretable .content tr:hover td a, #faretable .content tr.odd:hover td, #faretable .content tr.odd:hover td a {
		color: #ffffff;
	} /*指過來字顏色變成白色*/
	
	#faretable .content tbody th
	{
		color: #AA0000;
		border-bottom: 1px solid #000066; /*儲存格底線*/
	}


/*********************************************************************************/
/* timetable                                                                    */
/*********************************************************************************/

	#timetable
	{
		/*overflow: hidden;*/
		padding: 8em 0em;
		background: #D6ACFF;
		text-align: center;
	}
	
	#timetable .title h2
	{
		color: rgba(0,0,0,0.8);
	}
	
	#timetable .content
	{
	}
	
	#timetable .content table
	{
		background: white;
		tbody tr.odd {	background: #f0f0f0; }
	}

	#timetable .content th
	{
		background: #800080;
		color: white;
	}

	#timetable .content tbody tr:hover td, tr:hover td a, tr.odd:hover td, tr.odd:hover td a {
		background: #800000;
		color: #ffffff;
	}


/*********************************************************************************/
/* transfer                                                                        */
/*********************************************************************************/

	#transfer
	{
		text-align: center;
		padding: 8em 0em;
	}
	
	#transfer .title span
	{
		color: rgba(255,255,255,0.4);
	}
	
	#transfer .content tbody th
	{
		border-bottom: 1px solid #800000; /*儲存格底線*/
	}
	
	#transfer .content tbody td
	{
		
		border-bottom: 1px solid #800000; /*儲存格底線*/
	}
	#transfer .content tbody tr:hover td, #transfer .content tr:hover td a, #transfer .content tr.odd:hover td, #transfer .content tr.odd:hover td a
	{
		background: #800000;
		color: #ffffff;
	} /*指過來變深紅色*/

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		/*overflow: hidden;*/
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}