select.green_fare{background-color: #3eb034;}
select.green_fare option.option1{background-color: #3eb034;}
select.green_fare option.option2{background-color: #3F0;}
select.green_fare option.option3{background-color: #00BE61;}
select.green_fare option.option4{background-color: #7BD723;}

select.blue_fare{background-color: #0191d8;}
select.blue_fare option.option1{background-color: #0191d8;}
select.blue_fare option.option2{background-color: #90AFFF;}
select.blue_fare option.option3{background-color: #005DBE;}
select.blue_fare option.option4{background-color: #9593FF;}

select.red_fare{background-color: #FF5745;}
select.red_fare option.option1{background-color: #FF5745;}
select.red_fare option.option4{background-color: #FF73B7;}
select.red_fare option.option3{background-color: #FF3333;}
select.red_fare option.option2{background-color: #FF9999;}

select.yellow_fare{background-color: #FFD306;}
select.yellow_fare option.option1{background-color: #FFD306;}
select.yellow_fare option.option2{background-color: #FDFF73;}
select.yellow_fare option.option3{background-color: #D5D723;}
select.yellow_fare option.option4{background-color: #E1E353;}

select.brown_fare{background-color: #D26900;}
select.brown_fare option.option1{background-color: #D26900;}
select.brown_fare option.option2{background-color: #FFAF60;}
select.brown_fare option.option3{background-color: #BD701F;}
select.brown_fare option.option4{background-color: #FF8F19;}

select.orange_fare{background-color: #FF7F05;}
select.orange_fare option.option1{background-color: #FF7F05;}
select.orange_fare option.option2{background-color: #FFC991;}
select.orange_fare option.option3{background-color: #FF8F19;}
select.orange_fare option.option4{background-color: #E7AB6D;}