body {
	margin-top: 10px;
	font-family:"微軟正黑體";
	background-repeat:no-repeat; /* no-repeat in the background image */
	background-attachment:fixed; /* fix the position of the background image */
	background-position:center top; /*push the image on the center top side*/
}
table { 
    border-spacing: 5px;
    border-collapse: separate;
}
td{
	text-align:center;
	border-width: 9px;
}
td a{
	display:inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
}
#box{
	color: white;
	width:180px;
	text-decoration:none;
}
#box2{
	color: white;
	width:365px;
	text-decoration:none;
}
#box3{
	color: white;
	width:550px;
	text-decoration:none;
}
#entext{
	font-family:Verdana;
	font-size:16px;
}
#text{
	font-size:20px;
	color: white;
}