html { 
	background: url("../img/background.jpg") no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	margin-top: 10px;
	font-family:"微軟正黑體";
}
table{
    margin-left: auto;
    margin-right: auto;
}
table .button{ 
    border-spacing: 5px;
    border-collapse: separate;
}
td{
	text-align:center;
	border-width: 9px;
}
td a{
	display:inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
}
#box{
	color: white;
	width:180px;
	text-decoration:none;
}
#box2{
	color: white;
	width:365px;
	text-decoration:none;
}
#box3{
	color: white;
	width:550px;
	text-decoration:none;
}
#entext{
	font-family:Verdana;
	font-size:16px;
}
#text{
	font-size:20px;
	color: white;
}